/******** TAG SELECTORS ********/
a {
    color: #f5ba13;
}

a:link {
    text-decoration: none;
}


body {
    background-color: #fcd16d;
}


footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

footer p {
    color: #f5ba13;
}

header {
    background-color: #f5ba13;
    margin: auto -16px;
    padding: 16px 34px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
    font-weight: 200;
}

/*********** CLASS SELECTORS **********/
.heading {

    text-align: center;
    font-size: 2em;
    color: wheat;
}

.container {
    background-color: wheat;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: auto;
    margin: 48px 16px;
    border-radius: 20px;
}

.container:hover {
    background-color: #f5ba13;
    color: wheat;
}